In [3]:
import pandas as pd

In [6]:
import seaborn as sn #Imports seaborn to access its examples

In [7]:
sn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [11]:
sn.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
df = sn.load_dataset('diamonds')

In [9]:
print(df)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [12]:
df.to_csv("diamonds.csv", index=False)

In [13]:
dataset = pd.read_csv("diamonds.csv")

In [14]:
print(dataset)
#Each row represents a sample

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [17]:
dataset.shape


#gets the number of features and columns

(53940, 10)

In [18]:
dataset.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [35]:
colus = list(dataset.columns)

In [20]:
for cols  in cols:
    print(cols)

carat
cut
color
clarity
depth
table
price
x
y
z

In [21]:
dataset.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [23]:
dataset.sample() #grabs any data set

       carat    cut color clarity  depth  table  price     x     y     z
34694    0.3  Ideal     F      IF   61.7   56.0    873  4.31  4.35  2.67

In [25]:
dataset.sample(10)  #Grabs any 10 data

       carat        cut color clarity  depth  table  price     x     y     z
40888   0.42    Premium     F     VS1   62.7   61.0   1176  4.77  4.74  2.98
16180   1.00    Premium     F     VS2   58.6   61.0   6468  6.53  6.50  3.82
9527    1.02  Very Good     H     SI1   63.0   58.0   4617  6.34  6.40  4.01
35900   0.32      Ideal     G      IF   61.9   55.0    918  4.38  4.44  2.73
9822    1.01  Very Good     G     SI1   63.5   60.0   4672  6.33  6.30  4.01
45558   0.50  Very Good     D     VS2   63.0   57.0   1688  5.03  5.06  3.18
36416   0.31    Premium     D     VS2   62.0   59.0    942  4.36  4.32  2.69
39450   0.50  Very Good     E     SI2   62.8   55.0   1077  5.05  5.08  3.18
6715    0.30      Ideal     J    VVS2   62.0   54.0    413  4.30  4.34  2.68
3857    0.72      Ideal     G     VS1   61.4   56.0   3478  5.75  5.79  3.55

In [31]:
dataset.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [29]:
dataset.info() #Check for missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [33]:
#dataframe slicing 

dfx= dataset

In [36]:
colus

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [37]:
CaratCol = dfx["carat"]

In [38]:
CutCol = dfx["cut"]

In [41]:
#Get unique columns in a column
dfx.cut.unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [43]:
# Check all samples in data with premiun
Premium = dfx[dfx["cut"]=="Premium"]
Premium

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[13791 rows x 10 columns]

In [44]:
#Get all diamond sample that are premium
premiumSamples = dfx.loc[dfx["cut"]=="Premium"]
premiumSamples

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[13791 rows x 10 columns]

In [46]:
vGoodSamples = dfx.loc[dfx["cut"]=="Very Good"]
vGoodSamples

       carat        cut color clarity  depth  table  price     x     y     z
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
19      0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53921   0.70  Very Good     E     VS2   62.8   60.0   2755  5.59  5.65  3.53
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56

[12082 rows x 10 columns]

In [51]:
#Price below 300
priceBelow300 = dfx[dfx["price"] <= 500]
#or
# priceBelow300 = dfx.loc[dfx["price"] <= 500]
priceBelow300

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
50635   0.23  Very Good     F     VS2   61.0   59.0    402  3.95  3.99  2.42
50636   0.23  Very Good     F     VS2   59.1   59.0    402  4.02  4.07  2.39
50637   0.23  Very Good     F     VS2   61.6   59.0    402  3.96  4.00  2.45
50638   0.23  Very Good     F     VS2   59.4   57.0    402  4.06  4.09  2.42
50639   0.23  Very Good     F     VS1   61.9   58.0    402  3.90  4.02  2.45

[1749 rows x 10 columns]

In [52]:
#Check maximum values
dfx.price.max()

18823

In [53]:
#Check minimum value
dfx.price.min()

326

In [56]:

def MissingData(dataset):
    cols = dataset.columns.tolist()
    datalen = len(col)
    missingrec = dataset.isna().sum()
    dataLen = len(dataset)
    missingList = []
    for col, recs in zip(cols, missingrec):
        if recs > 0:
            diff = datalen - len(df[col])
            missingList.append(f"{cols} is missing {recs} number of samples")
        else:
            missingList.append("no missing data")
    return missingList

no missing data
no missing data
no missing data
no missing data
no missing data
no missing data
no missing data
no missing data
no missing data
no missing data

In [58]:
datalen

53940